################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RunPythonScript/*.mp4
/RunPythonScript/*.mp4
/RunPythonScript/*.jpeg
/RunPythonScript/*.jpg
/RunPythonScript/*.png

/RunPythonScript/obj/*
/RunPythonScript/bin/*
*.jpg
/.vs
/RunPythonScript/__pycache__
