################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RunPythonScript/VID_20241208_173007.mp4
